header{
    background-color: darkslategray;
}
.header{
    display:flex;
    flex-direction: row;
    align-items:end;
    padding-bottom:.25%;
    justify-content: space-between;
}
h1{
    flex: 0 0 25%;
}
.contact{
  flex: 0 0 35%;
  display:inline;
}
a ,h4 {
    margin: 0 0 2% 8%;
    
    font-size: 20px;
    color:lightcoral;
    text-decoration: underline;
}

h1{
    font-size: 250%;
    margin-bottom: 0;
    padding-left:10%;
    padding-top:1%;
    padding-right:2%;
    border-bottom: 3px solid lightcoral;
    background-color:darkslategray;
    border-top-right-radius: 15px;
    color:lightcoral;
    border-bottom-right-radius: 15px;
   
}

h2{
    border-right:3px solid lightcoral;
    font-size: 250%;
    margin: 0;
    padding-top: 2%;
    padding-left:10%;
    max-width: 20%;
    background-color:darkslategray;
    border-bottom-right-radius: 15px;
    color:lightcoral;
    margin-bottom: 30px;
}
h4{
    border-top: 1px solid lightcoral;
    border-top-right-radius:15px;
}
#link{
    flex: 0 0 20%;
    padding-right:5%;
    text-align: center;
    border-right: 3px solid lightcoral;
    margin-bottom: 15px;
    margin-top:15px;
    padding-top:80px;
    color:lightcoral;
    font-size: 60px;
    text-decoration: none;
    
 
}

section div {
    flex: 0 0 80%;
    margin-left:5%;
    margin-top:3%;
    
}
p{
    font-size: 25px;
    line-height:35px;
    padding-right:30%;
    padding-bottom:4%;
    border-bottom: 3px solid lightcoral;
    border-bottom-left-radius:10px;
    color:lightcoral;
}
.side-bar{
    display: flex;
    
}
body{
    margin:0;
    background-color:darkslategray;
    overflow-x: hidden;
}
img{
    height:300px;
    width:700px;
    margin-right:10%;
    border-right: 2px solid lightcoral;
    border-bottom:2px solid lightcoral;
    border-radius: 10px;
    box-shadow:  3px 3px 2px 2px gray;
}
#img{
    margin:0;
}
#img:hover{
    opacity: 60%;
}
a:hover{
    color:red;
}

