/* About me css */
body{
    background-color: rgb(19, 5, 40);
}
#nav-tab{
    display:flex;
    justify-content: flex-end;
    align-items: end;
}
#family1, #family2, #family3, #family4{
     max-height: 600px;
     max-width: 400px;
     border-right: 2px solid lightcoral;
     flex: 0 0 20%;
     margin-right: 3%;
     margin-bottom: 5%;
     border-right: 2px solid lightcoral;
     border-bottom: 2px solid lightcoral;
     border-radius: 10px;
     box-shadow: 3px 3px 2px 2px gray;
}

.pageTitle{
    display:flex;
    justify-content:center;
    font-size: 40px;
    color: lightcoral;
}
div h3{
        margin-top: 0%;
}
.MyFamily{
    display:flex;
    flex: 0 0 80%;
    margin-bottom:5%;
}
#p{
    margin-left:10%;
    padding-left: 10%;
    border-left: 3px solid lightcoral;
    font-size: 25px;
    line-height: 35px;
    padding-right: 10%;
    padding-bottom: 4%;
    border-bottom: 3px solid lightcoral;
    border-bottom-left-radius: 10px;
    color: lightcoral;
    
}
#imageContainer1, #imageContainer2, #imageContainer3, #imageContainer4, #imageContainer5{
    padding-left:5%;
    height: 600px;
    width: 400px;
    padding-top: 5%;
    padding-right:5%;
    border-top: 3px solid lightcoral;
    border-top-right-radius: 15px;
    #treflip,
        #hiking,
        #ollie,
        #snowBaby,
        #line{
       display:none;
    }
}

#imageContainer1:hover,
#imageContainer2:hover,
#imageContainer3:hover,
#imageContainer4:hover,
#imageContainer5:hover{
    #family4, #family1, #family2, #family3{
        display:none;
    }

    #treflip, #hiking, #ollie, #snowBaby, #line{
        display:block;
        max-height: 600px;
        max-width: 500px;
        border-right: 2px solid lightcoral;
        flex: 0 0 20%;
        margin-right: 3%;
        margin-bottom: 5%;
        border-right: 2px solid lightcoral;
        border-bottom: 2px solid lightcoral;
        border-radius: 10px;
        box-shadow: 3px 3px 2px 2px gray;
    }

}
    #imageContainer3:hover{
        width:500px;
        padding-left:132px;
}
#imageContainer5:hover{
    width: 417px;
    padding-left: 132px;
}


/*Nav page css*/
#nav-item {
    margin-right: 15px;
    padding: 0 10px 3px 10px;
}
#nav-item:hover{
    background-color:lightcoral;
    color:rgb(19, 5, 40);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.active {
    color:red;
}



/* portfolio css*/
h2{
    font-size: 10px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: end;
    padding-bottom: .25%;
    justify-content: space-between;
}

h1 {
    flex: 0 0 25%;
}

.contact {
    flex: 0 0 35%;
    display: inline;
}


h4 {
    
    font-size: 20px;
    color: lightcoral;
    text-decoration: underline;
}
a{
    font-size: 20px;
    color: lightcoral;
}
h1 {
    font-size: 250%;
    margin-bottom: 0;
    padding-left: 10%;
    padding-top: 1%;
    padding-right: 2%;
    border-bottom: 3px solid lightcoral;
    border-top-right-radius: 15px;
    color: lightcoral;
    border-bottom-right-radius: 15px;

}

h2 {
    border-right: 3px solid lightcoral;
    font-size: 250%;
    margin: 0;
    padding-top: 2%;
    padding-left: 10%;
    max-width: 20%;
    border-bottom-right-radius: 15px;
    color: lightcoral;
    margin-bottom: 30px;
}

h4 {
    border-top: 1px solid lightcoral;
    border-top-right-radius: 15px;
}

#link {
    flex: 0 0 20%;
    padding-right: 5%;
    text-align: center;
    border-right: 3px solid lightcoral;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-top: 80px;
    color: lightcoral;
    font-size: 60px;
    text-decoration: none;


}

#portDiv {
    flex: 0 0 80%;
    margin-left: 5%;
    margin-top: 3%;

}

#portP {
    font-size: 25px;
    line-height: 35px;
    padding-right: 30%;
    padding-bottom: 4%;
    border-bottom: 3px solid lightcoral;
    border-bottom-left-radius: 10px;
    color: lightcoral;
}

.side-bar {
    display: flex;

}

body {
    margin: 0;
    overflow-x: hidden;
}

#portImg {
    height: 300px;
    width: 700px;
    margin-right: 10%;
    border-right: 2px solid lightcoral;
    border-bottom: 2px solid lightcoral;
    border-radius: 10px;
    box-shadow: 3px 3px 2px 2px gray;
}

#img {
    margin: 0;
}

#githubLink {
    height: 300px;
    width: 700px;
    margin-right: 10%;
    border-right: 2px solid lightcoral;
    border-bottom: 2px solid lightcoral;
    border-radius: 10px;
    box-shadow: 3px 3px 2px 2px gray;
}
.portImageContainer{
    position:relative;
    height:310px;
    width: 650px;
}
#innerImg {
    height: 50px;
    width: 50px;
    display: none;
    position: absolute;
    top:80px;
    left:20px;
}
#youtubeImg{
    display:none;
    height:50px;
    width:50px;
    position:absolute;
    top:140px;
    left: 20px;
}
#employMeeText{
    display:none;
    position:absolute;
    top:70px;
    left:110px;
    color:black;
    font-size: 25px;
    font-weight: bold;
}
#youtubeText{
    display: none;
    position: absolute;
    top: 120px;
    left: 110px;
    color: black;
    font-size: 25px;
    font-weight: bold;
}
#img:hover{
    transition: opacity 0.3s;
    opacity: 40%;
}
.portImageContainer:hover {
    transition:opacity 0.3s;
    opacity: 40%;
    #innerImg, #employMeeText, #youtubeImg, #youtubeText{
        display: block;
    }
    
}

/* css for ContactMe page*/
.nameInput, .emailInput, .messageInput{
    display: flex;
    flex-direction:row;
}
.error-text{
    margin-left: 10%;
    padding-left: 2%;
    font-size: 25px;
    color: lightcoral;
}
#nameInput, #emailInput{
    margin-left:5%;
    margin-top: 2%;
    height: 20px;
    width:20%;
}
#nameh2, #emailh2{
    padding-right: 8%;
}
#messageh2{
padding-right:5%;
}
#messageInput{
    margin-left:5%;
    height:200px;
}
.submit{
    display:flex;
    justify-content: end;
}
#submit{
    margin-right:10%;
    height:30px;
    width:70px;
}




/* css for resume page*/

.downloadResume{
    display: flex;
    justify-content: center;
    margin-right:20%;
}

#resume1, #resume2{
    margin-top:0;
    margin-right:50px;
    color:lightcoral;
    font-size: 30px;
    text-decoration: none;
}
.FrontEnd, .BackEnd{
    display: flex;
    margin-bottom: 5%;
}
li{
    color:lightcoral;
    font-size: 20px;
    margin: 0px 0 5px 30px;
}
#firstLi{
    margin-top:30px;
}
#lastLi{
    margin-bottom:40px;
}
ul{
    padding-bottom:5%;
}
.defenitonDiv{
    width:500px;
}
#defenition{
    color: lightcoral;
    margin: 0 0 0 30px;
    font-size: 20px;
}
#resume2:hover{
    opacity: 60%;
}
li:hover{
    color:red;
}

/*css for footer*/
.footer{
    display:flex;
    justify-content: center;
}
#github,#linkedIn,#instagram{
    height:50px;
    width:50px;
    margin: 5px 10px 15px 10px 
}
#github:hover,
#linkedIn:hover,
#instagram:hover{
    opacity:60%;
}
@media (max-width: 768px) {
    #nav-tab{
        display:flex;
        justify-content: center;
    }
    #nav-item{
        font-size: 13px;
    }
    h2{
        font-size: 25px;
    }
    .pageTitle{
        font-size: 25px;
    }
    #imageContainer1, #imageContainer2, #imageContainer3, #imageContainer4, #imageContainer5{
        max-width: 100px;
        max-height: 250px;
    }
    #family4, #family1, #family2, #family3{
        max-width: 100px;
        max-height: 300px;
        
    }
        #imageContainer3:hover,#imageContainer5:hover {
            width: 100px;
            padding-left: 32px;
        }
    #imageContainer1:hover,
    #imageContainer2:hover,
    #imageContainer3:hover,
    #imageContainer4:hover,
    #imageContainer5:hover{
    #treflip, #hiking, #ollie, #snowBaby, #line{
        max-width: 100px;
        max-height: 300px;
        
    }
}

    #p{
        font-size: 10px;
        line-height: normal;
        
    }
    h2{
        padding-right:2%;
        padding-bottom: 5%;
        margin-bottom: 0%;
        margin-top: 2%;
        padding-right: 5%;
    }
    #portImg{
        max-width: 260px;
        max-height: 160px;
    }
    #portP{
        font-size: 10px;
        line-height: normal;
    }
    #link{
        font-size: 20px;
        margin-left: 7%;
        padding-right: 1%;
    }
    #githubLink{
    max-width: 240px;
    max-height: 150px;
    }
    #innerImg{
        height: 30px;
        width: 30px;
        top: 30px;
        left: 10px;
    }
    #youtubeImg{
        height: 30px;
        width: 30px;
        top: 65px;
        left: 10px;
    }
    #employMeeText{
        top: 20px;
        left: 50px;
        font-size: 10px;
    }
    .portImageContainer{
        height: 160px;
        width: 300px;
    }
    #githubLink{
        width:250px;
    }
    #messageInput{
        height:100px;
        width: 180px;
        margin-bottom: 5%;
    }
    #messageh2{
        padding-right: 10%;
    }
    #nameInput, #emailInput{
        width: 180px;
    }
    h2{
        font-size:15px;
    }

}
